<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/modal.css">
	<title>Clocking Out</title>
</head>
<body>
	<div class='container'>
		<h1 align='center'>Clocking Out</h1>
		<h3>Hi Julian!</h3>
		<p>How many hours were used for personal time (lunch breaks, personal errands, pro-longed breaks, etc) that should be deducted from pay?</p>
		<form>
			<select>
				<option>15 minutes</option>
				<option>30 minutes</option>
				<option>45 minutes</option>
				<option>1 hour</option>
				<option>1.5 hours</option>
				<option>2 hours</option>
				<option>None</option>
				<option>Other</option>
			</select>
			<h3>Report <span>*mandatory</span> </h3>
			<h4>What did you work on? What did you accomplish?</h4>
			<textarea class='modal_input' placeholder='example: Curriculum Update (1.5 hours), Lecture (1.0 hours), Assisting Students (3.0 hours), Meeting (!.0 hr), etc.'></textarea><br>
			<button class="btn btn-out pull-right" type="submit">Clock Out</button>	
		</form>

	</div>

</body>
</html>