#admin_login{
  min-width: 700px;			
  background-size: 120em 75em;
  background-image:url(../img/mac_programmer.jpeg);
}

.login_box{
	margin-top: 10%;
	margin-left: 28%;
	height: 35em;
	width:45%;
}

.login_header{
	padding-top:10%;
	color:#333;
	height:;
	width:;
}
.login_form{
	margin-top: 10%;
	margin-left: 10%;
	width:80%;
}
.login_form a{
	font-weight: bold;
	color:red;
}

.form-group p{
	color: #337AB7;
	margin-top: 3%;
}
.form-group .btn{
	margin-top: 15%;
}
span{
	color:salmon;
}