
span{ color:salmon; }

#admin_login{ min-width: 700px;  
			  background-color: #D4DCE5; /*loads before background image for contrast and usability w/ slow connections*/
			  background-repeat: no-repeat;
			  background-size:cover; 
			  background:url(../img/mac_programmer.jpg) no-repeat center center fixed; }

.login_box{ margin-top: 10%; margin-left: 28%; height: 35em; width:45%; }

.login_header{ padding-top:10%; color:#3E97D1; }

.login_form{ margin-top: 10%; margin-left: 10%; width:80%; }
.login_form a{ font-weight: bold; color:#61C2C2; text-shadow:
														    -1px -1px 0 #000,
														     1px -1px 0 #000,
														    -1px 1px 0 #000,
														     1px 1px 0 #000; }

.login_form input{ border:none; background: transparent; font-weight: bold; color:#3E97D1; }

/* LOGIN PLACEHOLDER FONT COLOR */

::-webkit-input-placeholder { color: #3E97D1 !important; }

:-moz-placeholder { color: #3E97D1 !important; } /* Firefox 18- */
::-moz-placeholder { color: #3E97D1 !important; }/* Firefox 19+ */

:-ms-input-placeholder { color: #3E97D1 !important; }

/* END LOGIN PLACEHOLDER FONT COLOR*/


.form-group p{ color: #337AB7; margin-top: 3%; }
.form-group .btn{ margin-top: 5%; opacity: 0.7 !important; }
.form-group .btn:hover{ opacity: 1.0 !important; }

#dev-box{ background-color: gray; }

