body{
  min-width: 70em;
}

.container{
  width:85%;
}
select{
  height: auto !important;
}
/*#admin_login{
  background-size: 100%;
  background-image:url(../img/mac_programmer.jpeg);
}*/
/*#admin-history{
  background-size: 100%;
  background-image:url(../img/mac_programmer.jpeg) !important;
}*/
.navbar-inverse{
  border-radius:0px !important;
}
button a{
  text-decoration: none;
  color:white;
}
button a:hover{
  text-decoration: none;
  color:#4584EF;
}

.employee-info div{
  margin-top: -25px !important;
}
.table-head {
  border:none !important;
  border-top-right-radius: 1em !important;
  border-top-left-radius: 1em !important;
  color:white;
  margin-bottom: -2% !important;
  width:100% !important;
  background-color: #676767 !important;
}

.add_table>tbody>tr>td{
  width:25%;
}
.add_table>tbody>tr>td:first-child{
  border-right: 1px solid #DDDDDD;
}
.add_table>tbody>tr>td:last-child{
  border-right: none;
}

.table-head tr td{
  border:none !important;
}
.snap-shot tbody tr:last-child td:last-child {
  border-bottom-right-radius: 1em !important;
}

hr{
  border:1px solid #CECDCC;
}
.snap-shot tbody tr td:nth-child(2){

  background-color: #F5F6F7 !important;
}
.container ul li{
  display: inline;
}

.container-fluid h5{
  margin-bottom: 2%;
}

.filters{
  display: inline-block;
  margin-left: 5em;
  margin-bottom: 2%;
}
.btn-date{
  color:white;
  margin-top: 3% !important;
  background-color: #0D81FF;
}
#settings{
  margin-top: 15%;
  margin-bottom: 2%;
}

.form-signin{
  margin-bottom: 10%;
}
.add_table .form-control{
  font-size:1.3em !important;
  width:30em;
  border:none;
  box-shadow: none;
}
textarea{
  resize:none;
/*  height:15em !important;*/
}

#hrs{
  outline:none;
/*  outline-color:transparent;
  box-shadow: none;*/
  background:none;
  padding-bottom: 0em;
  border:none;
  height:1.5em !important;
  width:3em;
}


.form-group{
  margin-top: 0px !important;
}

.jumbotron h1{
  text-align: center;
}

.info{
  margin-top: 5%;
}

.info h5{
  margin-top: -1%;
}

.info h5 , select{
  line-height: 2em;
  display: inline-block;
}

.drop-btn{
  height:auto;
}

table, thead, tr{
  margin-top: 2%;
}


table th{
  background-color: #eee;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
td img{
  margin-left: 20%;
}
.clk-btn{
  width:10em;
}
tr td .names{
  font-style: italic;
  font-size: .9em;
  color:#9F9F9F;
}
tr td .status{
  font-weight: bold;
  font-size: .9em;
  color:#9F9F9F;
}
.btn-in{
  background-color: #008500;
  color:white;
}
.btn-out{
  background-color: #EE001D;
  color:white;
}
.emphasis{
  color:salmon;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

input, button, select, textarea {
  color: black;
}
table tr:nth-child(odd),
table tr:nth-child(even){
  background-color: transparent;
}
/********************************/
/*  MODAL CSS to be moved later*/
/********************************/
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  
  color:black;
  padding: 1% 5% 1% 5%;
  z-index:10000;
  position: absolute;
  width: 35%;
  height: 60%;
  overflow-y: scroll; 
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;

}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;

}
.ng-modal-close {
  color:salmon;
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.col-md-12 ul{
  margin-top:1em;
}
.col-md-12 ul li{
  margin-left:1em;
}
