
/********************  HTML ATTRIBUTE CSS  ******************************/


body{ min-width: 70em; }
select{ height: auto !important; }
textarea{ resize:none; height:10em; width:100%; }

input[readonly] { background-color: white !important; cursor: text !important; }
input, button, select, textarea { color: black; }

ul a:focus{
  font-weight: bold;
  color:#03C8A2;
  outline:0;
  text-decoration: none;
}

.emphasis { color:salmon; }


/********************  END  HTML ATTRIBUTE CSS  *************************/

/********************  BOOTSTRAP MODIFICATIONS  *************************/


.container{ width:85%; }
.container-fluid ul li{ display: inline; }
.container-fluid h5{ margin-bottom: 2%; }

.navbar-fixed-top{ top:-1px; } 
.navbar-inverse{ border-radius:0px !important; }

.jumbotron h1{ text-align: center; }

.col-md-12 ul{ margin-top:1em; }
.col-md-12 ul li{ margin-left:1em; }

.form-signin{ margin-bottom: 10%; }
.form-group{ margin-top: 0px !important; }


/********************  END BOOTSTRAP MODIFICATIONS  ********************/

/********************  TABLES  ******************************/


table, thead, tr{ margin-top: 2%; }
table th{ background-color: #eee;}

table tr:nth-child(odd), table tr:nth-child(even){ background-color: transparent; }
table tr:nth-child(even) { background-color: #eee; }
table tr:nth-child(odd) { background-color: #fff; }

td img{ margin-left: 20%; }
tr td .names{ font-style: italic; font-size: .9em; color:#9F9F9F; }
tr td .status{ font-weight: bold; font-size: .9em; color:#9F9F9F; }
hr{ border:1px solid #CECDCC; }

.table-head { border:none !important; border-top-right-radius: 1em !important; border-top-left-radius: 1em !important;
              background-color: #676767 !important; color: white; margin-bottom: -2% !important; width:100% !important; }

.add_table{ margin-top: 0; }
.add_table>tbody>tr>td{ width:25%; }
.add_table>tbody>tr>td:first-child{ border-right: 1px solid #DDDDDD; }
.add_table>tbody>tr>td:last-child{ border-right: none; }
.add_table th{ background-color: #428BCB; color:white; border-bottom: none !important;}
.add_table .form-control{ font-size:1.3em !important; width:30em; border:none; box-shadow: none; }

.table-head tr td{ border:none !important; }

.snap-shot tbody tr:last-child td:last-child { border-bottom-right-radius: 1em !important; }
.snap-shot tbody tr td:nth-child(2){ background-color: #F5F6F7 !important; }


/********************  END TABLE CSS  ******************************/

/********************  MODAL CSS  ******************************/

.ng-modal-overlay { position:fixed; z-index:9999; top:0; left:0; width:100%; height:100%; 
                    background-color:#000000; opacity: 0.8; }

.ng-modal-dialog { color:black; padding: 1% 5% 1% 5%; z-index:10000; position: absolute; width: 10em;
                   height: 3  5em; overflow-y: none; top: 40%; left: 50%;
                   transform: translate(-50%, -50%);
                  -webkit-transform: translate(-50%, -50%);
                  -moz-transform: translate(-50%, -50%);
                   background-color: #fff; box-shadow: 4px 4px 80px #000; }                 

.ng-modal-dialog-content { padding:10px; text-align: left; }

.ng-modal-close {  color:white; position: fixed; top: 3px; right: 5px; padding: 5px; cursor: pointer; z-index: inherit; 
                   font-size: 120%; display: inline-block; font-weight: bold; font-family: 'arial', 'sans-serif'; }

.ng-modal-settings { background-color: lightgray; }    

.dialog-content-settings {  margin-top: 15%; }

 .clockout-form { margin-top: 15%; }

.modal-settings h1{ color:white; }
.modal-settings button { margin-top: .5em }
.modal-settings form textarea { height:15em; }


/********************  END MODAL CSS  ******************************/

/********************  CUSTOM BUTTONS  ******************************/


button a{ text-decoration: none; color:white; }
button a:hover{ text-decoration: none; color:#4584EF; }

.btn-date{ color:white; margin-top: 3% !important; background-color: #0D81FF; }
.btn-file { position: relative; overflow: hidden; }
.btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; 
                             text-align: right; filter: alpha(opacity=0); opacity: 0; cursor: inherit; display: block; }

.btn-in{ background-color: #008500; color:white }
.btn-out{ background-color: #EE001D; color:white; }


.clk-btn{ width:10em; }
.drop-btn{ height:auto; }


/********************  END BUTTON CSS  ****************************/

/********************  INFO GROUP CSS *************************/


.info{ margin-top: 5%; }
.info h5{ margin-top: -1%; }
.info h5 , select{ line-height: 2em; display: inline-block; }


/********************  END INFO GROUP  *************************/

/********************  MISC CSS  ****************************/

.employee-info div{ margin-top: -25px !important; }

.filters{ display: inline-block; margin-left: 5em; margin-bottom: 2%; }

#settings{ margin-top: 15%; margin-bottom: 2%; }

#hrs{ outline:none; background:none; padding-bottom: 0em; border:none; height:1.5em !important; width:3em; }


  body{
    min-width: 900px;
  }
  /*****************************/
  /*******top nav bar**********/
  /*****************************/

  .navbar{ background-color: #242424; border-radius:0% !important; margin-bottom: 0% !important;}
  .navbar button{margin:1% 1% 0 0;}
  .nav-logo {height:5em;}
  .nav-logo img{margin-left:3em; height:70px; width:150px;}

  /*****************************/
  /*******side nav bar**********/
  /*****************************/

  .sidenav{background-color: #242424; min-width:14em; margin-top: -1.4em !important;}
  .sidenav ul{display: inline;}
  .sidenav li input{width:98%; border-style: none; text-indent: 1em; font-size: 1.5em; outline:none;}
  .sidenav button:focus{outline:none;}
  .sidenav-box{background:#525461; color:white; height:12.5em; width:98%; border-style: none; border-bottom: 3px solid #242424;}
  .sidenav-box:hover{background-color: #242424}
  .sidenav-box:nth-child(-n+2){ margin-bottom: 2%;}
  .sidenav-box a, .sidenav-box a:hover{text-decoration: none;}
  .sidenav-box img{height:5em; width:5em;}

  /*****************************/
  /******** table css **********/
  /*****************************/

  .table-wrap {height:34em; overflow-y:scroll; }
  .table-wrap thead { position:absolute; }
  .time-table, .time-table th, .time-table td { border-bottom: 2px solid #428BCB !important;}
  .time-table img{height:2em; width:1.8em;} 

  /*****************************/
  /******content information****/
  /*****************************/

  .main{display: inline-block; position:absolute; margin-top: 1%; margin-left: 5% !important; width:76%;}
  .e_d{background-color: #428BCB !important; color:white !important;} /*jumbotron employee dashboard*/
  .a_d{background-color: #03C8A2 !important; color:white !important; margin-bottom: 2%;} /*jumbotron for admin partials*/

