<div class='sidenav pull-left'>
    <div class='nav-logo'>
    <img src="img/icons/coding_dojo.png">
  </div>
  <ul>
    <li><a href="/#/dashboard"><button class='sidenav-box'><img src="img/icons/dash.png"><br>Dashboard</button></a></li>
    <li><a href="/#/history"><button class='sidenav-box'><img src="img/icons/history.png"><br>History</button></a></li>
    <li><button class='sidenav-box' ng-click='toggleModal()'><img src="img/icons/settings.png"><br>Settings</button></li>
    <li><button class='sidenav-box' ng-click='logout()'><img src="img/icons/logout.png"><br>Logout</button></li>
  </ul>
</div>
<div class='a_d'>
  <h2 align='center' ng-if="update == true">Update Employee</h2>
  <h2 align='center' ng-if="update == false">Add Employee</h2>
</div>
<div class='container-fluid main'>
  <form name="employeeForm" ng-submit="submitForm(employeeForm.$valid)" novalidate>

    <table class='table add_table'>
      <tbody>
        <tr>
          <td><h4>Name*</h4></td>
          <td>
            <label for="inputName" class="sr-only">Name*</label>
            <input type="text" ng-model="user.name" class="form-control" name="name" placeholder="Name" required autofocus>
            <p ng-show="employeeForm.name.$invalid && !employeeForm.name.$pristine" class="help-block">Name is required.</p>
          </td>
        </tr>
        <tr>
          <td><h4>Email*</h4></td>
          <td>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" ng-model="user.email" class="form-control" name="email" placeholder="Email (Used for Login)" required/>
          </td>
        </tr>
        <tr>
          <td><h4>Password*</h4></td>
          <td>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" ng-model="user.password" id="inputPassword" class="form-control" name="password" placeholder="Password" ng-minlength="6" ng-maxlength="72" required>
            <label for="confirmPassword" class="sr-only">Confirm Password</label>
            <input type="password" ng-model="user.confirm" id="confirmPassword" class="form-control" name="confirm" placeholder="Confirm Password" ng-match="user.password" required>
            <p ng-show="employeeForm.password.$error.minlength" class="help-block">Password must have at least 6 characters.</p>
            <p ng-show="employeeForm.password.$error.maxlength" class="help-block">Password can only have 10 characters.</p>
            <p ng-show="isMatch() === false" class="help-block">Passwords must match.</p>
          </td>
        </tr>
        <tr>
          <td><h4>Upload Profile Picture</h4></td>
          <td>
            <span id='file'>
            <!-- to use the directive file-model is used -->
              <input type="file" file-model="user.imgFile" name="pic_path">
            </span>
          </td>
        </tr>
        <tr>
          <td><h4>Employee Start Date*</h4></td>
          <td>
            <input type="date" ng-model="user.start_date" name="start_date" placeholder="yyyy-MM-dd" required />
            <span class="help-block" ng-show="employeeForm.start_date.$error.required">Required!</span>
            <span class="help-block" ng-show="employeeForm.start_date.$error.date">Not a valid date!</span>
          </td>
        </tr>
        <tr>
          <td><h4>Employee Status*</h4></td>
          <td>
            <select type="button" ng-model="user.status" name="status" class="drop-btn dropdown-toggle btn btn-lg" role="menu" required>
              <option value="" disabled selected>Status</option>
              <option value="active" ng-selected="status == 'active'">Active</option>
              <option value="inactive" ng-selected="status == 'inactive'">Inactive</option>
              <option value="probation" ng-selected="status == 'probation'">Probation</option>
              <option value="suspended" ng-selected="status == 'suspended'">Suspended</option>
              <option value="terminated" ng-selected="status == 'terminated'">Terminated</option>
              <option value="vacation" ng-selected="status == 'vacation'">Vacation</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><h4>Supervisor*</h4></td>
          <td>
            <select type='button' ng-model="user.supervisor" id="inputSupervisor" class='drop-btn dropdown-toggle btn btn-lg' name="supervisor" role='menu'  required>
              <option value="" disabled selected>Supervisor</option>
              <option value="{{s.id}}" ng-repeat="s in supervisors" ng-bind="s.name" ng-selected="s.id == user.supervisor"></option>
            </select>
          </td>
        </tr>
        <tr>
          <td><h4>Team</h4></td>
          <td>
            <label for="inputTeam" class="sr-only">Team</label>
            <input type="text" ng-model="user.team" class="form-control" name="team" placeholder="Team">
          </td>
        </tr>
        <tr>
          <td><h4>Title*</h4></td>
          <td>
            <label for="inputTitle" class="sr-only">Title*</label>
            <input type="text" ng-model="user.title" class="form-control" name="title" placeholder="Title" required>
            <p ng-show="employeeForm.title.$invalid && !employeeForm.title.$pristine" class="help-block">Title is required.</p>
          </td>
        </tr>
        <tr>
          <td><h4>Location*</h4></td>
          <td>
            <label for="inputLocation" class="sr-only">Location</label>
            <select type='button' ng-model="user.location" id="inputLocation" name="location" class='drop-btn dropdown-toggle btn btn-lg' role='menu' required>
              <option value="" disabled selected>Location</option>
              <option ng-repeat="l in locations" value="{{l.id}}" ng-bind="l.name"></option>
            </select>
            <p ng-show="employeeForm.location.$invalid && !employeeForm.location.$pristine" class="help-block">Location is required.</p>
          </td>
        </tr>
        <tr>
          <td><h4>Notes</h4></td>
          <td>
            <label for='note' class='sr-only'>only visible to admins</label>
            <textarea class='form-control' ng-model="user.note" name="note" placeholder='Notes (only visible to admins)'></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="contractor" id="inputAdmin" ng-model="admin" ng-checked="admin">
                Admin
                <span class='emphasis'>*Be careful who you give admin access to*</span>
              </label>
            </div>
            <button ng-if="update == true" class="btn btn-lg btn-in pull-right" type="submit">Update</button>
            <button ng-if="update == false" class="btn btn-lg btn-in pull-right" type="submit">Add Employee</button>
          </td>
        </tr>                                    
      </tbody>
    </table>
  </form>
  <div>error:{{employeeForm.$error}}</div>
  <div>invalid:{{employeeForm.$invalid}}</div>
</div>