<div class='add_container container'>
  <table class='table add_table'>
    <thead>
      <th colspan="2">
        <h3 ng-if="update == false">
          Add Employee
        </h3>
        <h3 ng-if="update == true">
          Update Employee
        </h3>
      </th>
    </thead>
    <tbody>
      <tr>
        <td><h4>Name</h4></td>
        <td>
          <label for="inputName" class="sr-only">Name</label>
          <input type="text" ng-model="user.name" class="form-control" name="name" placeholder="Name" required autofocus>
        </td>
      </tr>
      <tr>
        <td><h4>Title</h4></td>
        <td>
          <label for="inputTitle" class="sr-only">Title</label>
          <input type="text" ng-model="user.title" class="form-control" name="title" placeholder="Title" required>
        </td>
      </tr>
      <tr>
        <td><h4>Team</h4></td>
        <td>
          <label for="inputTeam" class="sr-only">Team</label>
          <input type="text" ng-model="user.team" class="form-control" name="team" placeholder="Team" required>
        </td>
      </tr>
      <tr>
        <td><h4>Location</h4></td>
        <td>
          <label for="inputLocation" class="sr-only">Location</label>
          <select type='button' ng-model="user.location" id="inputLocation" class='drop-btn dropdown-toggle btn btn-lg' role='menu'>
            <option value="" disabled selected>Location</option>
            <option ng-repeat="l in locations" value="{{l.id}}" ng-bind="l.name"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td><h4>Supervisor</h4></td>
        <td>
          <select type='button' ng-model="user.supervisor" id="inputSupervisor" class='drop-btn dropdown-toggle btn btn-lg' role='menu'>
            <option value="" disabled selected>Supervisor</option>
            <option value="{{s.id}}" ng-repeat="s in supervisors" ng-bind="s.name" ng-selected="s.id == user.supervisor"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td><h4>Employee Status</h4></td>
        <td>
          <select type="button" ng-model="user.status" name="status" class="drop-btn dropdown-toggle btn btn-lg" role="menu">
            <option value="" disabled selected>Status</option>
            <option value="active" ng-selected="status == 'active'">Active</option>
            <option value="inactive" ng-selected="status == 'inactive'">Inactive</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><h4>Notes</h4></td>
        <td>
          <label for='note' class='sr-only'>only visible to admins</label>
          <textarea class='form-control' ng-model="user.note" name="note" placeholder='Notes (only visible to admins)'></textarea>
        </td>
      </tr>
      <tr>
        <td><h4>Upload Profile Picture</h4></td>
        <td>
          <span id='file'>
          <!-- to use the directive file-model is used -->
            <input type="file" file-model="imgFile" name="pic_path">
          </span>
          <!-- <input type="file" id="pic_path" ng-model="user.pic" name="pic"> -->
        </td>
      </tr>
      <tr>
        <td><h4>Employee Start Date</h4></td>
        <td><input type="date" ng-model="user.start_date" name="start_date"></td>
      </tr>
      <tr>
        <td><h4>Email &amp; Password</h4></td>
        <td>
          <label for="inputEmail" class="sr-only">Email</label>
          <input type="email" ng-model="user.email" class="form-control" name="email" placeholder="Email" required>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" ng-model="user.password" class="form-control" name="password" placeholder="Password" required>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="contractor" id="inputAdmin" ng-model="admin" ng-checked="admin">
              Admin
              <span class='emphasis'>*Be careful who you give admin access to*</span>
            </label>
          </div>
          <div ng-if="update == true">
            <button class="btn btn-lg btn-in pull-right" type="submit" ng-click="update_employee()">Update</button>          
          </div>
          <div ng-if="update == false">
            <button class="btn btn-lg btn-in pull-right" type="submit" ng-click="add_employee()">Create</button>
          </div>
        </td>
      </tr>                                    
    </tbody>
  </table>
</div>