<div class='container-fluid'>
  <table class='table add_table'>
    <thead>
      <th colspan="2">
        <h3>Add Employee</h3>
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>
          <label for="inputName" class="sr-only">Name</label>
          <input type="text" ng-model="name" class="form-control" placeholder="Name" required autofocus>
        </td>
      </tr>
      <tr>
        <td>Title</td>
        <td>
          <label for="inputTitle" class="sr-only">Title</label>
          <input type="text" ng-model="title" class="form-control" placeholder="Title" required>
        </td>
      </tr>
      <tr>
        <td>Team</td>
        <td>
          <label for="inputTeam" class="sr-only">Team</label>
          <input type="text" ng-model="team" class="form-control" placeholder="Team" required autofocus>
        </td>
      </tr>
      <tr>
        <td>Location</td>
        <td>
          <label for="inputLocation" class="sr-only">Location</label>
          <select type='button' ng-model="location" id="inputLocation" class='drop-btn dropdown-toggle btn btn-lg' role='menu'>
            <option value="" disabled selected>Location</option>
            <option ng-repeat="l in locations" value="{{l.id}}" ng-bind="l.name"></option>
          </select>
        </td>
      </tr>            
      <tr>
        <td>Supervisor</td>
        <td>
            <select type='button' ng-model="supervisor" class='drop-btn dropdown-toggle btn btn-lg' role='menu'>
              <option value="" disabled selected>Supervisor</option>
              <option ng-repeat="s in supervisors" value="{{s.id}}" ng-bind="s.name"></option>
            </select>
        </td>
      </tr>
      <tr>
        <td>Employee Status</td>
        <td>
          <select type='button' ng-model="status" class='drop-btn dropdown-toggle btn btn-lg' role='menu'>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Notes</td>
        <td>
          <label for='note' class='sr-only'>only visible to admins</label>
          <textarea class='form-control' ng-model="note" placeholder='Notes (only visible to admins)'></textarea>
        </td>
      </tr>
      <tr>
        <td>Upload Profile Picture</td>
        <td>
          <div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-primary btn-file">
                Browse&hellip; <input type="file">
              </span>
            </span>
            <input id="inputPicPath" placeholder='Upload Profile Pic' type="text" class="upload_pic form-control" readonly>  
          </div>
        </td>
      </tr>
      <tr>
        <td>Employee Start Date</td>
        <td>
            <input type="date" ng-model="start_date">
        </td>
      </tr>
      <tr>
        <td>Email and Password</td>
        <td>
          <label for="inputEmail" class="sr-only">Email</label>
          <input type="email" ng-model="email" class="form-control" placeholder="Email" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" ng-model="password" class="form-control" placeholder="Password" required>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="contractor" id="inputAdmin">Admin<span class='emphasis'>*Be careful who you give admin access to*</span>
            </label>
          </div>
          <button class="btn btn-lg btn-in pull-right" type="submit" ng-click="addEmployee()">Create</button>
        </td>
      </tr>                                    
    </tbody>
  </table>
</div>