<div class='jumbotron'>
  <h1>Coding Dojo Admin</h1>
</div>

<div class='info'>
  <div>
    <h5>
      <strong>ADMIN VIEW - </strong>
      Contractors / Part Time Employees
    </h5>
    <div class='pull-right'>
      <a href="/#/admin/settings" class='basic'><i class="fa fa-cog"></i> settings</a> / <a href="/">logout</a>
      <modal-settings show='settingsModal' width='50%' height='60%'></modal-settings>
    </div>
  </div>
</div>
    
<div>
  <div class='pull-right'>
    <select ng-model="place">
      <option value="">All</option>
      <option ng-repeat="l in locations" value={{l.name}} ng-bind="l.name">
    </select>
  </div>

  <div class="switch-toggle switch-candy">
    <input id="dashboard" name="view" type="radio" checked>
    <label for="dashboard" onclick="location.href='/#/admin/dashboard'">Dashboard</label>

    <input id="history" name="view" type="radio">
    <label for="history" onclick="location.href='/#/admin/history'">History</label>
    <a></a>
  </div>
</div>  

<table class='table'>
  <thead>
    <th>Picture</th>
    <th><a href="" ng-click="order='name'; reverse=!reverse">Name</a></th>
    <th><a href="" ng-click="order='status'; reverse=!reverse">Status</a></th>
    <th><a href="" ng-click="order='title'; reverse=!reverse">Title</a></th>
    <th><a href="" ng-click="order='team'; reverse=!reverse">Team</a></th>
    <th><a href="" ng-click="order='supervisor'; reverse=!reverse">Supervisor</a></th>
    <th><a href="" ng-click="order='location'; reverse=!reverse">Location</a></th>
    <th>Note</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr ng-repeat="row in table | filter: { locations:place } | orderBy:order:reverse">
      <td><img height='30' width='30' class='img-rounded' src="/img/profile_pic/dev.jpg"></td>
      <td ng-bind="row.name"></td>
      <td ng-bind="row.status"></td> 
      <td ng-bind="row.title"></td>
      <td ng-bind="row.team"></td>
      <td ng-bind="row.supervisor"></td> 
      <td ng-bind="row.locations"></td> 
      <td ng-bind="row.note"></td> 
      <td><a href=""> Show </a> / <a href="/#/edit"> Edit </a></td>
    </tr>
  </tbody>
</table>

<button class='btn btn-md btn-in pull-right'><a href="/#/admin/add_employee">Add Employee</a></button>