<div class='jumbotron'>
	<h1>Admin History View</h1>
</div>

<div class='info'>
	<h5>
		<strong>ADMIN VIEW - </strong>
		Contractors / Part Time Employees
	</h5>

	<div id='filters' class='pull-right'>

		<div class='filters'>	
			Location: <select>
				<option value="all">All</option>
				<option ng-repeat="location in locations" value={{location.id}} ng-bind="location.name"></option>
			</select>	
		</div>

		<div class='filters'>
			Name:    <select>
				<option value="all">All</option>
					<option ng-repeat='member in members' value={{members.id}} ng-bind="member.name"></option>
			</select>
		</div>
		<br>
		<div class='filters'>
			Date: <input type='date'>
		</div><br>
		<ul class='filters pull-right'>
			<li><a href="">This Week</a></li>
			<li><a href="">Last Week</a></li>
			<li><a href="">This Month</a></li>
			<li><a href="">Last Month</a></li>						
		</ul>
	</div>	

	<div class="switch-toggle switch-candy">
		<input id="dashboard" name="view" type="radio" checked>
		<label for="dashboard" onclick="location.href='/#/admin/dashboard'">Dashboard</label>


		<input id="history" name="view" type="radio">
		<label for="history" onclick="location.href='/#/admin/history'">History</label>

		<a></a>
	</div>

	<table class='table'>
		<thead>
			<th><a href="" ng-click="order='date'; reverse=!reverse">Date</a></th>
			<th>Picture</th>
			<th><a href="" ng-click="order='name'; reverse=!reverse">Name</a></th>
			<th><a href="" ng-click="order='title'; reverse=!reverse">Title</a></th>
			<th><a href="" ng-click="order='team'; reverse=!reverse">Team</a></th>
			<th><a href="" ng-click="order='location'; reverse=!reverse">Location</a></th>
			<th class='clk-btn'><a href="" ng-click="order='clock_in'; reverse=!reverse">Clock IN</a></th>
			<th class='clk-btn'><a href="" ng-click="order='clock_out'; reverse=!reverse">Clock OUT</a></th>
			<th><a href="" ng-click="order='personal'; reverse=!reverse">Personal Time</a></th>
			<th><a href="" ng-click="order='billed'; reverse=!reverse">Billed Hours</a></th>
			<th>Report</th>
		</thead>
		<tr ng-repeat="row in table | orderBy:order:reverse">
			<td ng-bind="row.date"></td>
			<td><img height='30' width='30' class='img-rounded' src="/img/dev.jpg"></td>
			<td ng-bind="row.name"></td>
			<td ng-bind="row.title"></td>
			<td ng-bind="row.team"></td>
			<td ng-bind="row.location"></td>
			<td ng-bind="row.clock_in"></td>
			<td ng-bind="row.clock_out"></td>
			<td ng-bind="row.personal"></td>
			<td ng-bind="row.billed"></td>
			<td ng-bind="row.report"></td>
		</tr>
	</table>
</div>