<!-- <div class='ng-modal' ng-show='show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'>X</div>
    <div class='ng-modal-dialog-content'>
    	<div id="basic-modal-content"> -->

  <form>
    Company Name:<label for="inputCompany" class="sr-only">Company Name</label>
    <input type="text" id="company" ng-model="company" class="form-control" placeholder="example: Coding Dojo" required autofocus>
    <br><br>
    On-Site IP Address:<label for='ipAdd' class='sr-only'>On-Site IP Addresses</label>
    <textarea class='form-control' id='ip' ng-model='ip' placeholder='Separate by comma - example: 192.168.2.1, 192.128.2.2'></textarea>
    <button class="btn btn-lg btn-in pull-right" type='submit' ng-click="updateSettings()">Save</button>
  </form>



<!-- <div style='display:none'>
  <img src='../img/basic/x.png' alt='' />
</div>
    </div>
  </div>
</div>
 -->
