<div class='container-fluid'> 
  <div class='row'>
    <div class='col-md-8'>
      <div class='container-sm'>

        <h5>
          <strong>ADMIN VIEW - </strong>Contractors / Part Time Employees
        </h5>
        <div class='pull-right'>
          <a ng-click='toggleModal();' class='basic'><i class="fa fa-cog"></i> settings</a>/<a href="/#/">logout</a>
        </div>
      </div>

    </div>
    <div>
      <div class='filter row-md-4 pull-right'>
        <div class='container-sm'>
 
          <select ng-model="place">
            <option value="" disabled selected>Filter Location</option>
            <option value="">All</option>
            <option ng-repeat="l in locations" value="{{l.name}}" ng-bind="l.name"></option>
          </select>

          <select class='pull-right' ng-model="people" ng-if="user.page=='history'">
            <option value="" disabled selected>Filter Name</option>
            <option value="">All</option>
            <option ng-repeat="m in members | filter:m" value="{{m.name}}" ng-bind="m.name"></option>
          </select>

          <p ng-if="user.page=='history'">Filter by Date:</p>
          <form ng-if="user.page=='history'">
            <input type='date'> to <input type='date'>
            <button type='submit' class='pull-right btn btn-sm btn-date'>Submit Date</button>
          </form>

        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
              
        <div class="switch-toggle switch-candy">
          <input id="dashboard" name="view" type="radio" checked>
          <label for="dashboard" ng-click="changePage('dash')">Dashboard</label>

          <input id="history" name="view" type="radio">
          <label for="history" ng-click="changePage('history')">History</label>

          <a></a>
        </div>
        
          <ul class='pull-right' ng-if="user.page=='history'">
            <li><a ng-click="dateFilter('all')">All</a></li>
            <li><a ng-click="dateFilter('this_week')">This week</a></li>
            <li><a ng-click="dateFilter('last_week')">Last week</a></li>
            <li><a ng-click="dateFilter('this_month')">This month</a></li>
            <li><a ng-click="dateFilter('last_month')">Last Month</a></li>
          </ul>

        </div>

        <table class='table' ng-if="user.page=='history'">
          <thead>
            <tr>
              <th><a href="" ng-click="order='date'; reverse=!reverse">Date</a></th>
              <th>Picture</th>
              <th><a href="" ng-click="order='name'; reverse=!reverse">Name</a></th>
              <th><a href="" ng-click="order='title'; reverse=!reverse">Title</a></th>
              <th><a href="" ng-click="order='team'; reverse=!reverse">Team</a></th>
              <th><a href="" ng-click="order='location'; reverse=!reverse">Location</a></th>
              <th class='clk-btn'><a href="" ng-click="order='clock_in'; reverse=!reverse">Clock IN</a></th>
              <th class='clk-btn'><a href="" ng-click="order='clock_out'; reverse=!reverse">Clock OUT</a></th>
              <th><a href="" ng-click="order='personal'; reverse=!reverse">Personal Time</a></th>
              <th><a href="" ng-click="order='billed'; reverse=!reverse">Billed Hours</a></th>
              <th>Report</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in history_table | filter: { locations:place, name:people } | orderBy:order:reverse">
              <td ng-bind="row.created_at | date:'dd/M (EEE)'"></td>
              <td><img height='30' width='30' class='img-rounded' src="/img/profile_pic/dev.jpg"></td>
              <td ng-bind="row.name"></td>
              <td ng-bind="row.title"></td>
              <td ng-bind="row.team"></td>
              <td ng-bind="row.locations"></td>
              <td ng-bind="row.clock_in | date:'shortTime'"></td>
              <td ng-bind="row.clock_out | date:'shortTime'"></td>
              <td ng-bind="row.personal_time"></td>
              <td ng-bind="row.billed"></td>
              <td ng-bind="row.report"></td>
            </tr>
          </tbody>
        </table>
 
        <table class='table' ng-if="user.page=='dash'">
          <thead>
            <th>Picture</th>
            <th><a href="" ng-click="order='name'; reverse=!reverse">Name</a></th>
            <th><a href="" ng-click="order='status'; reverse=!reverse">Status</a></th>
            <th><a href="" ng-click="order='title'; reverse=!reverse">Title</a></th>
            <th><a href="" ng-click="order='team'; reverse=!reverse">Team</a></th>
            <th><a href="" ng-click="order='supervisor'; reverse=!reverse">Supervisor</a></th>
            <th><a href="" ng-click="order='location'; reverse=!reverse">Location</a></th>
            <th>Note</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr ng-repeat="row in dashboard_table | filter: { locations:place } | orderBy:order:reverse">
              <td><img height='30' width='30' class='img-rounded' src="/img/profile_pic/dev.jpg"></td>
              <td ng-bind="row.name"></td>
              <td ng-bind="row.status"></td>
              <td ng-bind="row.title"></td>
              <td ng-bind="row.team"></td>
              <td ng-bind="row.supervisor"></td>
              <td ng-bind="row.locations"></td>
              <td ng-bind="row.note"></td>
              <td><a href="/#/admin/show/{{row.id}}">Show</a>/<a href="/#/admin/edit/{{row.id}}">Edit</a></td>
            </tr>
          </tbody>
        </table>
        <a href="/#/admin/add_employee">
          <button class='btn btn-md btn-success pull-right' ng-if="user.page=='dash'">Add Employee</button>
        </a>
        <button class="btn btn-danger" ng-csv="csvBody" csv-header="csvHead" filename="history.csv" ng-if="user.page=='history'">Download CSV</button> 
      </div>
    </div>
  </div>
</div>

<modal-dialog show='modalShown' width='750px' height='60%'>
  <div class='container'>      
    <div class='jumbotron'><h1>Employer Settings</h1></div>
    <form>
      Company Name:<label for="inputCompany" class="sr-only">Company Name</label>
      <input ng-model="name" class="form-control" placeholder="example: Coding Dojo" type="text" required autofocus>


      On-Site IP Address:<label for='ipAdd' class='sr-only'>On-Site IP Addresses</label>
      <textarea ng-model='ip' class='form-control' placeholder='Separate by comma - example: 192.168.2.1, 192.128.2.2'></textarea>

      <button class="btn btn-lg btn-in pull-right" type='submit' ng-click="updateSettings()">Save</button>
    </form>

  </div>

</modal-dialog>