<div class='container'>
  <h1 align='center'>Clock Out</h1>
  <select>
    <option value=".25">15 minutes</option>
    <option value=".5" >30 minutes</option>
    <option value=".75">45 minutes</option>
    <option value="1"  >1 hour</option>
    <option value="1.5">1.5 hours</option>
    <option value="2"  >2 hours</option>
    <option value="0"  >None</option>
  </select>
  <h3>Report <span>*mandatory</span> </h3>
  <h4>What did you work on? What did you accomplish?</h4>
  <textarea  placeholder='example: Curriculum Update (1.5 hours), Lecture (1.0 hours), Assisting Students (3.0 hours), Meeting (!.0 hr), etc.'></textarea><br>
  <button ng-click='clockOut()' class="btn btn-out">Clock Out</button> 
</div>