<html class='dash-container'>
<div class='container-fluid'>
  <div class='container-fluid'>
    <h5>
      <strong>Contractors or Part Time Employees in CodingDojo (all locations)</strong>
      <br>
      If you're paid hourly, it's mandatory that you clock in/out whenever you work.
    </h5>

    <div class='row'>
      <div class='col-md-10'>

        <div class="switch-toggle switch-candy">
          <input id="dashboard" name="view" type="radio" checked>
          <label for="dashboard" onclick="location.href='/#/dashboard'">Dashboard</label>

          <input id="history" name="view" type="radio">
          <label for="history" onclick="location.href='/#/history'">History</label>

          <a></a>
        </div>

      </div>
      <div class='col-md-2'>
        Location: 
        <select ng-model="place">
          <option value="">All</option>
          <option ng-repeat="l in locations" value={{l.name}} ng-bind="l.name">
          </select>
        </div>
        <div class='container-fluid'>
          <table class='table'>
            <thead>
              <th>Picture</th>
              <th><a href="" ng-click="order='name'; reverse=!reverse">Name</a></th>
              <th><a href="" ng-click="order='title'; reverse=!reverse">Title</a></th>
              <th><a href="" ng-click="order='team'; reverse=!reverse">Team</a></th>
              <th><a href="" ng-click="order='supervisor'; reverse=!reverse">Supervisor</a></th>
              <th><a href="" ng-click="order='location'; reverse=!reverse">Location</a></th>
              <th class='clk-btn'>Clock IN</th>
              <th class='clk-btn'>Clock OUT</th>
            </thead>
            <tr value="0" ng-repeat="row in table | filter: { locations:place } | orderBy:order:reverse">
              <td><img height='30' width='30' class='img-rounded' src="/img/profile_pic/dev.jpg"></td>
              <td ng-bind="row.name"></td>
              <td ng-bind="row.title"></td>
              <td ng-bind="row.team"></td>
              <td ng-bind="row.supervisor"></td> 
              <td ng-bind="row.locations"></td> 
              <td>
                <div ng-if="row.clock_in == null">
                  <button class="btn btn-in" ng-click="clockIn()">Clock IN</button>
                </div>
                <div ng-if="row.clock_in != null" ng-bind="row.clock_in | date:'shortTime'"></div>
              </td>
              <td>
                <div ng-if="row.clock_in != null &amp;&amp; row.clock_out == null">
                  <a ng-click='toggleModal(row);' class='basic'><button class="btn btn-out">Clock OUT</button></a>
                </div>
                <div ng-if="row.clock_out != null" ng-bind="row.clock_out | date:'shortTime'"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <modal-clockout user='currentUser' personal='personal' report='report' show='modalShown' width='750px' height='70%'>
  
  <div class='container'>
    <h1 align='center'>Clock Out</h1>
    <form name='clockout_form'>
      <select name='select' ng-model="personal">
       <option value="" disabled selected>Choose Time</option>  
       <option value="0">None</option>
       <option value=".25">15 minutes</option>
       <option value=".5" >30 minutes</option>
       <option value=".75">45 minutes</option>
       <option value="1"  >1 hour</option>
       <option value="1.5">1.5 hours</option>
       <option value="2"  >2 hours</option>
     </select>
     <h3>Report <span>*mandatory</span></h3>
     <h4>What did you work on? What did you accomplish?</h4>
     <textarea ng-model="report" placeholder='example: Curriculum Update (1.5 hours), Lecture (1.0 hours), Assisting Students (3.0 hours), Meeting (!.0 hr), etc.'></textarea><br>
     <button ng-click='clockOut(personal,report, clockout_form); reloadRoute();' class="btn btn-out">Clock Out</button>
   </form>
 </div>

</modal-clockout>

</html>
