<div ng-controller="history">
<div class='jumbotron'>
	<h1>Employee History</h1>
</div>

<div class='info'>
	<div>
		<h5>
			<strong>Contractors or Part Time Employees in CodingDojo (all locations)</strong> <br>
			If you're paid hourly, it's mandatory that you clock in/out whenever you work.
		</h5>
		<div id='filters' class='pull-right'>
			
			<div class='filters'>	
				Location: 
				<select ng-model ='filterItem.store' ng-options='history.name for history in filterOptions.stores'>
					<!-- <option ng-repeat="location in locations" value={{location.id}} ng-bind = "location.name" ng-model = "filter_location"></option> -->
				</select>
			</div>

			<div class='filters'>
				Name:    
				<select>
					<option ng-repeat='member in members' value={{members.name}} ng-bind = "member.name" ng-model = "filter_member"></option>
				</select>	
			</div>
	<br>
	<div class='filters'>
		Date: <input type='date'>
	</div><br>
	<ul class='filters pull-right'>
		<li><a href="">This Week</a></li>
		<li><a href="">Last Week</a></li>
		<li><a href="">This Month</a></li>
		<li><a href="">Last Month</a></li>						
	</ul>
</div>	

</div>
<div class="switch-toggle switch-candy">

	<input id="dashboard" name="view" type="radio" checked>
	<label for="dashboard" onclick="location.href='dashboard'">Dashboard</label>

	<input id="history" name="view" type="radio">
	<label for="history" onclick="location.href='history'">History</label>

	<a></a>
</div>

<input class='form-control' type='text' placeholder='search' ng-model="filter_name">

<table class='table'>
	<thead>
		<th>Date</th>
		<th>Picture</th>
		<th>Name</th>
		<th>Title</th>
		<th>Team</th>
		<th>Location</th>
		<th class='clk-btn'>Clock IN</th>
		<th class='clk-btn'>Clock OUT</th>
		<th>Personal Time</th>
		<th>Billed Hours</th>
		<th>Report</th>
	</thead>			
	<tr ng-repeat="history in histories | filter:filter_name">
		<td>{{history.date}}</td>
		<td><img height='30' width='30' class='img-rounded' src="/img/dev.jpg"></td>
		<td>{{history.name}}</td>
		<td>{{history.title}}</td>
		<td>{{history.team}}</td>
		<td>{{history.location}}</td>
		<td>{{history.clock_in}}</td>
		<td>{{history.clock_out}}</td>
		<td>{{history.personal}}</td>
		<td>{{history.billed}}</td>
		<td>{{history.report}}</td>
	</tr>
	
</table>
</div> <!-- end of ng-controller history div -->