<nav class='navbar navbar-top'>
    <div class='nav-logo'>
      <img src="img/coding_dojo.png">
<!--       <button class='pull-right btn btn-lg btn-danger'>Logout</button> -->
    </div>
  </nav>
  <div class='sidenav pull-left'>
    <ul>
      <li><input placeholder='email' type='email' ng-model="credentials.email"></li>
      <li><input placeholder='password' type='password' ng-model="credentials.password"></li>
      <li><a href="" ng-click="login(credentials)"><button class='sidenav-box'><img src="img/clock-in.png"><br>Log IN</button></a></li>
    </ul>
  </div>
  <div class='jumbotron e_d'>
    <h2 align='center'>Time Keeper - Employee</h2>
  </div>
  <div class='container-fluid main'>
    <table class='table table-bordered'>
      <thead>
        <tr>
          <td>Name</td>
          <td>Logged in</td>
          <td>Location</td>
          <td>Team</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in table">
          <td><img width='30' height='30' src="/img/profile_pic/dev.jpg">{{row.name}}</td>
          <td ng-bind="row.is_logged"></td>
          <td ng-bind="row.locations"></td>
          <td ng-bind="row.team"></td>
        </tr>
      </tbody>
    </table>

<!--************************  CLOCKOUT MODAL CONTENT *******************************-->
  <modal-clockout user='currentUser' personal='personal' report='report' show='modalShown' width='750px'>

    <div class='container modal-settings clockout-content'>
      <nav class='navbar navbar-fixed-top navbar-inverse'>
          <h1 align='center'>Employee Clockout</h1>
      </nav>

      <form class='clockout-form' name='clockout_form'>
        <select name='select' ng-model="personal">
          <option value="" disabled selected>Choose Time</option>  
          <option value="0">None</option>
          <option value=".25">15 minutes</option>
          <option value=".5" >30 minutes</option>
          <option value=".75">45 minutes</option>
          <option value="1"  >1 hour</option>
          <option value="1.5">1.5 hours</option>
          <option value="2"  >2 hours</option>
        </select>
        <h3>Report <span class='emphasis'>*mandatory</span></h3>
        <h4>What did you work on? What did you accomplish?</h4>
        <textarea ng-model="report" placeholder='example: Curriculum Update (1.5 hours), Lecture (1.0 hours), Assisting Students (3.0 hours), Meeting (!.0 hr), etc.'></textarea><br>
        <button ng-click='clockOut(personal,report, clockout_form); reloadRoute();' class="btn btn-out">Clock Out</button>
      </form>
    </div>

  </modal-clockout>
<!--*********************  END CLOCKOUT MODAL CONTENT *******************************--> 
  </div>
