  <aside>
    <img src="img/icons/coding_dojo.png">
    <ul>
      <li><a href="/#/add_employee"><button class='sidenav-box'><img src="img/icons/people.png"><br>Add Employee</button></a></li>
      <li><a href="/#/dashboard"><button class='sidenav-box'><img src="img/icons/dash.png"><br>Dashboard</button></a></li>
      <li><a href="/#/history"><button class='sidenav-box'><img src="img/icons/history.png"><br>History</button></a></li>
      <li><button class='sidenav-box' ng-click='logout()'><img src="img/icons/logout.png"><br>Logout</button></li>
    </ul>
  </aside><!--
  --><section>
    <h2>Edit Settings</h2>
    <form name="settignsForm" ng-submit="submitForm(settignsForm.$valid)" novalidate>

      <label for="inputUserName">User Name:</label>
      <input type="text" id="inputUserName" ng-model="form.userName" class="form-control" placeholder="Your name" required autofocus>
   
      <label for="inputCompany">Company Name:</label>
      <input type="text" ng-model="form.name" class="form-control" placeholder="example: Coding Dojo" required>

      <label for='ipAdd'>On-Site IP Address:</label>
      <textarea ng-model='form.ip_addresses' class='form-control' placeholder='Separate by comma - example: 192.168.2.1, 192.128.2.2'></textarea>

      <button class="btn btn-lg btn-in pull-right" type='submit' ng-click="updateSettings()">Save</button>
    </form>
  </section>